#fullabout {
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

#lessabout {
  background-color: white !important;
  border-radius: 20px;
  padding: 20px;
  margin-top: 5vh;
  text-align: left !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profile {
  background-color: white;
  height: 50vh;
  width: 30vw;
  border-radius: 20px;
}

#profile-pic {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 20vw;
  height: 40vh;
  border-radius: 20px;
}

#contacts {
  background-color: white;
  height: 10vh;
  width: 40vw;
  margin-left: 20vw;
  border-radius: 20px;
  margin-top: 5vh;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-image {
  height: 10vh;
  margin-left: 10px;
  margin-right: 10px;
}


@media only screen and (min-width: 320px) and (max-width: 479px){
  #lessabout {
    padding: 20px;
    margin-top: 5vh;
    text-align: left !important;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
  }

  #profile {
    background-color: white;
    width: 70vw;
    border-radius: 20px;
  }

  #profile-pic {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 60vw;
    border-radius: 20px;
  }

  #contacts {
    width: 60vw;
    margin-left: 10vw;
    height: 20vh;
    display: block;
  }

}