#welcome {
  background-color: white;
  width: 80vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 10vw;
  border-radius: 20px;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

#profile {
  background-color: white;
  height: 50vh;
  width: 30vw;
  margin-left: 10vw;
  border-radius: 20px;
}

#profile-pic {
  /* background-color: white; */
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 20vw;
  height: 40vh;
  border-radius: 20px;
}

#bio {
  background-color: white;
  height: 50vh;
  width: 80vw;
  margin-left: 10vw;
  border-radius: 20px;
}

.bio-text {
  font-size: 20px;
  padding: 20px;
  text-align: left;
}

/* li::before {
  content: "::before";
  background: lightgray;
  border-radius: 1ch;
  padding-inline: 1ch;
  margin-inline-end: 1ch;
} */

#contacts {
  background-color: white;
  height: 10vh;
  width: 80vw;
  margin-left: 10vw;
  border-radius: 20px;
  margin-top: 5vh;
  padding: 10px;
}
.contact-image {
  height: 10vh;
  margin-left: 10px;
  margin-right: 10px;
}