#project-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.phones {
  border-radius: 30px;
  height: 60vh;
  margin-left: 10px;
}

#blurb {
  background-color: white;
  border-radius: 20px;
  width: 70vw;
  margin-left: 15vw;
  padding: 10px;
}

.project {
  background-color: white;
  height: 55vh;
  width: 25vw;
  min-width: 350px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  transition: transform .2s;
}

.project:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.text {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.project-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

/* .description {
  text-align: left !important;
} */
.description {
  background-color: white;
  border-radius: 20px;
  width: 40vw;
  margin-left: 5vw;
  padding: 10px;
  /* margin-top: 5vh; */
}

/* .img {
  background-color: white;
  height: 20vh;
  border-radius: 20px;
} */
.img {
  background-color: white;
  height: 40vh;
  border-radius: 20px;
  margin-top: 5px;
}

.imgE {
  background-color: white;
  width: 40vw;
  border-radius: 20px;
}

.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#imgDouble {
  width: 20vw !important;
  margin-left: 5px;
}

/* #fc-img {
  width: 15vw;
} */
#fc-img {
  width: 25vw;
}

/* #mnist-img {
  height: 15vh !important;
} */
#mnist-img {
  height: 32vh !important;
  width: 12vw !important;
}

#gifs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 25vw;
}

#return-button {
  font-size: 20px;
  font-weight: bold;
  width: 120px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

@media only screen and (min-width: 320px) and (max-width: 700px){
  #project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
  }

  .project {
    width: 80vw;
    margin-bottom: 5vh;
  }

  .imgE {
    background-color: white;
    width: 80vw;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .description {
    width: 75vw;
    margin-left: 0px !important;
  }
  
  #imgDouble {
    width: 40vw !important;
    margin-left: 2px !important;
  }

  #fc-img {
    width: 70vw;
  }

  #gifs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
  }

  #mnist-img {
    height: 32vh !important;
    width: 40vw !important;
    margin-left: 15px;
  }

  #header {
    margin-left: 2vw;
    margin-right: 2vw;
  }

  #return-button {
    font-size: 16px;
    width: 100px;
  }
}